#cards {
    top: 64px;
    margin: 0px;
    width: 100%;
    position: relative;
}

.card {
    width: 345px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}

.card:hover {
    cursor: pointer;
    font-weight: bold;
}

.description {
    height: 75px;
}

.btn:hover {
    color: #000000;
}

#stretch {
    flex: 1;
}

#spacing {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;
}

#separator {
    border-color: #000000;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
}

#select {
    justify-content: center;
}

#search {
    top: 75px;
    justify-content: center;
    width: 100%;
}

