#opened {
    width: 100%;
    height: 100%;
}

.paddingLeft {
    padding-left: 5%;

}

#title {
    padding-top: 5px;
    font-weight: bold;
}

.content {
    padding-right: 5%;
    position: relative;
}

