#stretch {
    flex: 1;
}

#linkedIn {
    margin-right: 10px;
}

.social {
    color: #ffffff;
}

#currentView {
    font-weight: bold;
    width: 190px;
}

#appbar {
    background-color: #424848;
}

#search {
    width: 50%;
}

#cancelSearch {
    z-index: 10000;
    right: 0px;
    position: absolute;
}

